html,
body {
    height: 100%
}

.input-group{
    border-radius: 3px;
    border: 1px solid black;
}

.input-group .input-group-append button {
    border: 0;
    padding: 0;
    height: 40px;
    width: 100px;
    border-radius: 0 3px 3px 0;
}

.btn-light {
  background: transparent !important;
  outline: none;
  box-shadow: none !important;
}

.btn-light:hover {
  background: none !important;
  outline: none;
  box-shadow: none !important;
}

.btn-light:focus {
  background: none !important;
  outline: none;
  box-shadow: none !important;
}

.btn-light:active{
  background: none !important;
  outline: none;
  box-shadow: none !important;
}
.form-inline {
    width: 100%;
}
.form-group {
    width: 100%;
    margin: 0px;
}

.col-lg-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.form-control{
    border: 0;
    padding: 0px;
    background: transparent;
    width: 100%;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    background: transparent;
}

.form-control:active {
    outline: none;
    box-shadow: none;
    background: transparent;
}

.btn-outline-success {
    border: 0;
    padding: 0;
    height: 40px;
    width: inherit;
    overflow: hidden;
    border-radius: 0 2px 2px 0;

}
.btn-outline-success:hover {
    outline: none;
    box-shadow: none !important;
}

.btn-outline-success:focus {
    outline: none;
    box-shadow: none !important;
}

.btn-outline-success:active {
    outline: none;
    box-shadow: none !important;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 5px solid #5cb85c;
}

.custom-select {
    border: 0;
    padding: 0;
    height: 40px;
    width: inherit;
    border-radius: 0 3px 3px 0;
}

.head-cell {
    font-size: 13px;
    text-transform: uppercase;
}
.cell {
    font-size: 12px;
}
td {
    overflow: hidden;
}
