<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Radio-BKK Data Export</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Radio-BKK Data Export</h1>
    <hr class="my-4">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <b>SON</b>
        </div>
        <ul class="list-group list-group-flush">
            <a href="http://10.172.240.110/bkk/downloadfile/son/4G/son_4g">
                <li class="list-group-item">4G</li>
            </a>
            <a href="http://10.172.240.110/bkk/downloadfile/son/3G/son_3g">
                <li class="list-group-item">3G</li>
            </a>
        </ul>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <b>PRS</b>
        </div>
        <ul class="list-group list-group-flush">
            <a href="http://10.172.240.110/bkk/downloadfile/prs/4G/prs_4g">
                <li class="list-group-item">4G</li>
            </a>
            <a href="http://10.172.240.110/bkk/downloadfile/prs/3G/prs_3g">
                <li class="list-group-item">3G</li>
            </a>
        </ul>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <b>NASTAR RAN</b>
        </div>
        <ul class="list-group list-group-flush">
            <a href="http://10.172.240.110/bkk/downloadfile/nastarran/4G/nastar_ran_4g">
                <li class="list-group-item">4G</li>
            </a>
            <a href="http://10.172.240.110/bkk/downloadfile/nastarran/3G/nastar_ran_3g">
                <li class="list-group-item">3G</li>
            </a>
        </ul>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <b>NASTAR</b>
        </div>
        <ul class="list-group list-group-flush">
            <a href="http://10.172.240.110/bkk/downloadfile/nastar/nastar">
                <li class="list-group-item">3G</li>
            </a>
        </ul>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <b>ATOLL</b>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">4G</li>
            <li class="list-group-item">3G</li>
        </ul>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <a href="http://10.172.240.110/bkk/downloadfile/cellinfo/cellinfo"><b>CellInfo</b></a>
        </div>
    </div>
</div>

</body>
</html>
