<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MobileNet Planning Web Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <div class="jumbotron">
      <h1 class="display-4">MobileNet Planning Web Application</h1>
        <hr class="my-4">
        <p class="lead"><b>Currently available applications:</b></p>
        <ul>
            <li><a href="plan4G.html">PCI RSI Planner</a></li>
            <li><a href="plan3G.html">PSC Planner</a></li>
        </ul>
        <hr class="my-4">
        <p align="right">RPO developer</p>
    </div>

</div>

</body>
</html>