<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>Search Data</title>
    <link rel="stylesheet" href="../static/library/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <style>
        .fixed-bottom {
           font-size: 14px
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <h1 class="display-5">Radio Masterplan <span style="font-weight: bolder;">BKK</span></h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 mx-auto">
                <div class="input-group mb-3">
                    <form role="form" action="{{url_for('search_data')}}" class="form-inline"
                          method="POST" enctype=multipart/form-data>
                        <div class="form-group row">
                            <div class="search-submit col-lg-2 ">
                                <select class="custom-select" id="filterBy" name="filterBy">
                                    <option selected>Search</option>
                                    <option value="cellname">CellName</option>
                                    <option value="sitecode">SiteCode</option>
                                    <option value="siteconfig">SiteConfig</option>
                                </select>
                            </div>
                            <div class="col-lg-8 ">
                                <input id="searchValue" name="searchValue" type="text" class="form-control"
                                       placeholder="Search" required style="width: 100%;">
                            </div>
                            <div class="col-lg-2 ">
                                <button class="btn btn-outline-success my-2 my-sm-0"
                                        type="submit" value="submit">Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container">
        {% if category == 'cell': %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>CellName</strong> must be <strong>10 digit</strong> length, please check your input again
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% elif category == 'site' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>SiteCode</strong> must be <strong>5 digit</strong> length, please check your input again
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% elif category == 'bbu' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>SiteConfig</strong> must be <strong>equal to SiteCode</strong> or other with distributed number
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% elif category == 'error' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Not found information</strong>, please check your input again -
            <span><strong> {{message}} </strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% elif category == 'search' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error</strong>: please check your input again -
            <span><strong> {{message}} </strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% elif category == 'overlimit' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error</strong>: Searching Maximum Value is :
            <span><strong> {{message}} </strong></span> code
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith -%}

    {% if resSearch -%}
    {% set data_site = resSearch['siteCode'] %}
    {% set data_bbu = resSearch['siteConfig'] %}
    {% set data_4g = resSearch['cell4G'] %}
    {% set data_3g = resSearch['cell3G'] %}
    {% set data_2g = resSearch['cell2G'] %}
    {% set data_nb = resSearch['cellNB'] %}

    <div class="row" style="float: right;margin-right: 15px;">
        <button class="btn btn-info"
                onclick="test_func({{ resSearch }})">
            <span class="">Download .Excel</span>
        </button>
    </div>
    {%- endif %}

    <!--  site information  -->
    <div class="table-responsive text-nowrap" style="margin-bottom:2rem; height:200px">
        <h3>Site Information</h3>
        <table id="siteInfo" class="table table-hover table-fixed">
            <thead class="thead-dark">
            <tr class="head-cell">
                <th>SITECODE</th>
                <th>LOCATION SLIM</th>
                <th>LATITUDE</th>
                <th>LONGITUDE</th>
                <th>SITE TYPE</th>
                <th>STATION TYPE</th>
                <th>SITE NAME EN</th>
                <th>SITE NAME TH</th>
                <th>BUILDING HEIGHT</th>
                <th>TOWER_TYPE</th>
                <th>TOWER HEIGHT</th>
                <th>LOCATION NAME EN</th>
                <th>LOCATION NAME TH</th>
                <th>TUNING CLUSTER</th>
                <th>DISTRICT CODE</th>
                <th>DISTRICT NAME</th>
                <th>REGION</th>
                <th>NW REGION</th>
                <th>MC ZONE</th>
                <th>ROUTING ZONE</th>
                <th>CONTACT PERSON</th>
                <th>CONTACT PHONE</th>
            </tr>
            </thead>

            {% if data_site %}
            {% for row in data_site %}
            <tr class="cell">
                <td>{{ row.site_code }}</td>
                <td>{{ row.location_code_slim }}</td>
                <td>{{ row.latitude }}</td>
                <td>{{ row.longitude }}</td>
                <td>{{ row.site_type }}</td>
                <td>{{ row.station_type }}</td>
                <td>{{ row.site_name_en }}</td>
                <td>{{ row.site_name_th }}</td>
                <td>{{ row.building_height }}</td>
                <td>{{ row.tower_type }}</td>
                <td>{{ row.tower_height }}</td>
                <td>{{ row.location_ref_name_en }}</td>
                <td>{{ row.location_ref_name_th }}</td>
                <td>{{ row.tunning_cluster }}</td>
                <td>{{ row.amphur_code }}</td>
                <td>{{ row.amphur_name_en }}</td>
                <td>{{ row.region }}</td>
                <td>{{ row.network_region }}</td>
                <td>{{ row.mc_zone }}</td>
                <td>{{ row.routing_zone }}</td>
                <td>{{ row.contact_person }}</td>
                <td>{{ row.contact_phone }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
    <!--  end site information  -->

    <!--  bbu information  -->
    <div class="table-responsive text-nowrap" style="margin-bottom:1rem; height:200px">
        <h3>BBU Information</h3>
        <table id="bbuInfo" class="table table-hover table-fixed">
            <thead class="thead-dark">
            <tr class="head-cell">
                <th scope="col">SITECODE</th>
                <th scope="col">SITE CONFIG</th>
                <th scope="col">BBU VENDOR</th>
                <th scope="col">BBU TYPE</th>
                <th scope="col">SLOT0</th>
                <th scope="col">SLOT1</th>
                <th scope="col">SLOT2</th>
                <th scope="col">SLOT3</th>
                <th scope="col">SLOT4</th>
                <th scope="col">SLOT5</th>
                <th scope="col">SLOT6</th>
                <th scope="col">SLOT7</th>
                <th scope="col">SLOT16</th>
                <th scope="col">SLOT18</th>
                <th scope="col">SLOT19</th>
            </tr>
            </thead>
            {% if data_bbu %}
            {% for row in data_bbu %}
            <tr class="cell">
                <td>{{ row.site_code }}</td>
                <td>{{ row.site_code_config }}</td>
                <td>{{ row.bbu_vendor }}</td>
                <td>{{ row.bbu_type }}</td>
                <td>{{ row.slot0 }}</td>
                <td>{{ row.slot1 }}</td>
                <td>{{ row.slot2 }}</td>
                <td>{{ row.slot3 }}</td>
                <td>{{ row.slot4 }}</td>
                <td>{{ row.slot5 }}</td>
                <td>{{ row.slot6 }}</td>
                <td>{{ row.slot7 }}</td>
                <td>{{ row.slot16 }}</td>
                <td>{{ row.slot18}}</td>
                <td>{{ row.slot19 }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
    <!--  end bbu information  -->


    <!--  LTE information  -->
    {% if data_4g %}
    <h3 style="margin-top: 3px;">LTE</h3>
    <div class="table-responsive text-nowrap" style="margin-bottom:2rem;">
        <table id="searchCell4G" class="table table-hover">
            <thead class="thead-dark">
            <tr class="head-cell">
                <th scope="col">CELLNAME</th>
                <th scope="col">STATUS</th>
                <th scope="col">SITE</th>
                <th scope="col">SYSTEM</th>
                <th scope="col">CELLID</th>
                <th scope="col">ENODEB</th>
                <th scope="col">ENODEBID</th>
                <th scope="col">LAC</th>
                <th scope="col">TAC</th>
                <th scope="col">MCC</th>
                <th scope="col">MNC</th>
                <th scope="col">DL EARFCN</th>
                <th scope="col">UL EARFCN</th> <!-- adding-->
                <th scope="col">DUPLEX</th>
                <th scope="col">PCI</th>
                <th scope="col">RSI</th> <!-- adding-->
                <th scope="col">TXRX</th>
                <th scope="col">EMTC</th>
                <th scope="col">MULTI TYPE</th> <!-- adding-->
                <th scope="col">RS POWER</th> <!-- adding-->
                <th scope="col">ANTENNA HEIGHT</th> <!-- adding-->
                <th scope="col">ANTENNA MODEL</th> <!-- adding-->
                <th scope="col">ANTENNA TYPE</th> <!-- adding-->
                <th scope="col">AZIMUTH</th> <!-- adding-->
                <th scope="col">M-TILT</th> <!-- adding-->
                <th scope="col">E-TILT</th> <!-- adding-->
            </thead>
            <tbody>
            {% for row in data_4g %}
            <tr class="cell">
                <td>{{ row.cell_name }}</td>
                {% if row.cell_status == 'No' %}
                <td class="table-primary">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Yes' %}
                <td class="table-success">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Locked' %}
                <td class="table-warning">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Removed' %}
                <td class="table-danger">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Relocated' %}
                <td class="table-info">{{ row.cell_status }}</td>
                {% endif %}
                <td>{{ row.site_code }}</td>
                <td>{{ row.system }}</td>
                <td>{{ row.cell_id }}</td>
                <td>{{ row.enodeb_name }}</td>
                <td>{{ row.enodeb_id }}</td>
                <td>{{ row.lac }}</td>
                <td>{{ row.tac }}</td>
                <td>{{ row.mcc }}</td>
                <td>{{ row.mnc }}</td>
                <td>{{ row.dl_earfcn }}</td>
                <td>{{ row.ul_earfcn }}</td>
                <td>{{ row.duplex }}</td>
                <td>{{ row.pci }}</td>
                <td>{{ row.rsi }}</td>
                <td>{{ row.cell_txrx }}</td>
                <td>{{ row.emtc_flag }}</td>
                <td>{{ row.multi_type }}</td>
                <td>{{ row.rspwr }}</td>
                <td>{{ row.ant_height }}</td>
                <td>{{ row.ant_model }}</td>
                <td>{{ row.ant_type }}</td>
                <td>{{ row.physical_azimuth }}</td>
                <td>{{ row.m_tilt }}</td>
                <td>{{ row.e_tilt }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <!--  UMTS information  -->
    {% if data_3g %}
    <h3 style="margin-top: 5px;">UMTS</h3>
    <div class="table-responsive text-nowrap" style="margin-bottom:3.5rem;">
        <table id="searchCell3G" class="table table-hover table-fixed">
            <thead class="thead-dark">
            <tr class="head-cell">
                <th scope="col">CELLNAME</th>
                <th scope="col">STATUS</th>
                <th scope="col">SITE</th>
                <th scope="col">SYSTEM</th>
                <th scope="col">CELLID</th>
                <th scope="col">NODEB</th>
                <th scope="col">NODEBID</th>
                <th scope="col">RNC</th>
                <th scope="col">RNCID</th>
                <th scope="col">LAC</th>
                <th scope="col">MCC</th>
                <th scope="col">MNC</th>
                <th scope="col">DL UARFCN</th>
                <th scope="col">UL UARFCN</th> <!-- adding-->
                <th scope="col">DUPLEX</th>
                <th scope="col">PSC</th>
                <th scope="col">TXRX</th>
                <th scope="col">MULTI TYPE</th> <!-- adding-->
                <th scope="col">CPICH</th> <!-- adding-->
                <th scope="col">MAX TX</th> <!-- adding-->
                <th scope="col">ANTENNA HEIGHT</th> <!-- adding-->
                <th scope="col">ANTENNA MODEL</th> <!-- adding-->
                <th scope="col">ANTENNA TYPE</th> <!-- adding-->
                <th scope="col">AZIMUTH</th> <!-- adding-->
                <th scope="col">M-TILT</th> <!-- adding-->
                <th scope="col">E-TILT</th> <!-- adding-->
            </thead>
            {% for row in data_3g %}
            <tr class="cell">
                <td>{{ row.cell_name }}</td>
                {% if row.cell_status == 'No' %}
                <td class="table-primary">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Yes' %}
                <td class="table-success">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Locked' %}
                <td class="table-warning">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Removed' %}
                <td class="table-danger">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Relocated' %}
                <td class="table-info">{{ row.cell_status }}</td>
                {% endif %}
                <td>{{ row.site_code }}</td>
                <td>{{ row.system }}</td>
                <td>{{ row.cell_id }}</td>
                <td>{{ row.nodeb_name }}</td>
                <td>{{ row.nodeb_id }}</td>
                <td>{{ row.rnc }}</td>
                <td>{{ row.rnc_id }}</td>
                <td>{{ row.lac }}</td>
                <td>{{ row.mcc }}</td>
                <td>{{ row.mnc }}</td>
                <td>{{ row.dl_uarfcn }}</td>
                <td>{{ row.ul_uarfcn }}</td>
                <td>{{ row.duplex }}</td>
                <td>{{ row.psc }}</td>
                <td>{{ row.cell_txrx }}</td>
                <td>{{ row.multi_type }}</td>
                <td>{{ row.cpichpwr }}</td>
                <td>{{ row.max_tx_pwr }}</td>
                <td>{{ row.ant_height }}</td>
                <td>{{ row.ant_model }}</td>
                <td>{{ row.ant_type }}</td>
                <td>{{ row.physical_azimuth }}</td>
                <td>{{ row.m_tilt }}</td>
                <td>{{ row.e_tilt }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    <!--  GSM information  -->
    {% if data_2g %}
    <h3 style="margin-top: 5px;">GSM</h3>
    <div class="table-responsive text-nowrap gsm-table" style="margin-bottom:1rem;">
        <table id="searchCell2G" class="table table-hover table-fixed">
            <thead class="thead-dark">
            <tr class="head-cell">
                <th scope="col">CELLNAME</th>
                <th scope="col">STATUS</th>
                <th scope="col">SITE</th>
                <th scope="col">SYSTEM</th>
                <th scope="col">CELLID</th>
                <th scope="col">BTSNAME</th>
                <th scope="col">BTSID</th>
                <th scope="col">LAC</th>
                <th scope="col">RAC</th>
                <th scope="col">BSC</th>
                <th scope="col">MCC</th>
                <th scope="col">MNC</th>
                <th scope="col">BSIC</th>
                <th scope="col">NCC</th>
                <th scope="col">BAND</th>
                <th scope="col">BCCH</th>
                <th scope="col">ANTENNA HEIGHT</th> <!-- adding-->
                <th scope="col">ANTENNA MODEL</th> <!-- adding-->
                <th scope="col">ANTENNA TYPE</th> <!-- adding-->
                <th scope="col">AZIMUTH</th> <!-- adding-->
                <th scope="col">M-TILT</th> <!-- adding-->
                <th scope="col">E-TILT</th> <!-- adding-->

            </thead>
            {% for row in data_2g %}
            <tr class="cell">
                <td>{{ row.cell_name }}</td>
                {% if row.cell_status == 'No' %}
                <td class="table-primary">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Yes' %}
                <td class="table-success">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Locked' %}
                <td class="table-warning">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Removed' %}
                <td class="table-danger">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Relocated' %}
                <td class="table-info">{{ row.cell_status }}</td>
                {% endif %}
                <td>{{ row.site_code }}</td>
                <td>{{ row.system }}</td>
                <td>{{ row.cell_id }}</td>
                <td>{{ row.bts_name }}</td>
                <td>{{ row.bts_id }}</td>
                <td>{{ row.lac }}</td>
                <td>{{ row.rac }}</td>
                <td>{{ row.bsc }}</td>
                <td>{{ row.mcc }}</td>
                <td>{{ row.mnc }}</td>
                <td>{{ row.msc }}</td>
                <td>{{ row.bsic }}</td>
                <td>{{ row.ncc }}</td>
                <td>{{ row.freq_band }}</td>
                <td>{{ row.freq_bcch }}</td>

                <td>{{ row.ant_height }}</td>
                <td>{{ row.ant_model }}</td>
                <td>{{ row.ant_type }}</td>
                <td>{{ row.physical_azimuth }}</td>
                <td>{{ row.m_tilt }}</td>
                <td>{{ row.e_tilt }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    <!--  NB information  -->
    {% if data_nb %}
    <h3 style="margin-top: 5px;">NB</h3>
    <div class="table-responsive text-nowrap nb-table" style="margin-bottom:3.5rem;">
        <table id="searchCellNB" class="table table-hover table-fixed">
            <thead class="thead-dark">
            <tr class="head-cell">
                <th scope="col">CELLNAME</th>
                <th scope="col">STATUS</th>
                <th scope="col">SITE</th>
                <th scope="col">SYSTEM</th>
                <th scope="col">CELLID</th>
                <th scope="col">ENODEB</th>
                <th scope="col">ENODEBID</th>
                <th scope="col">LAC</th>
                <th scope="col">TAC</th>
                <th scope="col">MCC</th>
                <th scope="col">MNC</th>
                <th scope="col">DL EARFCN</th>
                <th scope="col">UL EARFCN</th><!-- adding-->
                <th scope="col">DUPLEX</th>
                <th scope="col">PCI</th>
                <th scope="col">TXRX</th>
                <th scope="col">MULTI TYPE</th> <!-- adding-->
                <th scope="col">RS POWER</th> <!-- adding-->
                <th scope="col">ANTENNA HEIGHT</th> <!-- adding-->
                <th scope="col">ANTENNA MODEL</th> <!-- adding-->
                <th scope="col">ANTENNA TYPE</th> <!-- adding-->
                <th scope="col">AZIMUTH</th> <!-- adding-->
                <th scope="col">M-TILT</th> <!-- adding-->
                <th scope="col">E-TILT</th> <!-- adding-->
            </thead>
            {% for row in data_nb %}
            <tr class="cell">
                <td>{{ row.cell_name }}</td>
                {% if row.cell_status == 'No' %}
                <td class="table-primary">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Yes' %}
                <td class="table-success">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Locked' %}
                <td class="table-warning">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Removed' %}
                <td class="table-danger">{{ row.cell_status }}</td>
                {% elif row.cell_status == 'Relocated' %}
                <td class="table-info">{{ row.cell_status }}</td>
                {% endif %}
                <td>{{ row.site_code }}</td>
                <td>{{ row.system }}</td>
                <td>{{ row.cell_id }}</td>
                <td>{{ row.enodeb_name }}</td>
                <td>{{ row.enodeb_id }}</td>
                <td>{{ row.lac }}</td>
                <td>{{ row.tac }}</td>
                <td>{{ row.mcc }}</td>
                <td>{{ row.mnc }}</td>
                <td>{{ row.dl_earfcn }}</td>
                <td>{{ row.ul_earfcn }}</td>
                <td>{{ row.duplex }}</td>
                <td>{{ row.pci }}</td>
                <td>{{ row.cell_txrx }}</td>
                <td>{{ row.multi_type }}</td>
                <td>{{ row.rspwr }}</td>
                <td>{{ row.ant_height }}</td>
                <td>{{ row.ant_model }}</td>
                <td>{{ row.ant_type }}</td>
                <td>{{ row.physical_azimuth }}</td>
                <td>{{ row.m_tilt }}</td>
                <td>{{ row.e_tilt }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    <!--<p style="font-size: 12px;font-weight: bolder;">Developed by Radio-BKK developer</p>-->

    {% if link %}
    <!-- Navigation Footer-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-bottom" style="background-color: #d4fbce;">
        <a class="navbar-brand mb-0 h1" href="{{url_for('index')}}"
           style="font-weight:bolder;margin:0px;font-size: 18px;">
            Radio Masterplan BKK</a>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('call_4g')}}">PCI RSI Planner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('call_3g')}}">PSC Planner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{url_for('download')}}">Download Data</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Search Data<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropup">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Other Dept.
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{link.rpm}}">RPM Team</a>
                            <a class="dropdown-item" href="{{link.transporter}}">Transporter</a>
                            <a class="dropdown-item" href="{{link.troubleTicket}}">Trouble Ticket</a>
                            <a class="dropdown-item" href="{{link.slim}}">SLIMs</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="../static/library/jquery-3.4.0.slim.js"></script>
    <script type="text/javascript" src="../static/library/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/library/popper.min.js"></script>
    <script type="text/javascript" src="../static/library/FileSaver.min.js"></script>
    <script type="text/javascript" src="../static/library/js-xlsx/dist/xlsx.full.min.js"></script>
    <script type="text/javascript">
       function test_func(dataIn) {
            function isEmptyObj(arg) {
                if (jQuery.isEmptyObject(arg)) {
                    arg = [{}];
                    return arg;
                }else {
                    return arg;
                }
            }
            let site = isEmptyObj(dataIn.siteCode);
            let bbu = isEmptyObj(dataIn.siteConfig);
            let lte =  isEmptyObj(dataIn.cell4G);
            let umts =  isEmptyObj(dataIn.cell3G);
            let gsm =  isEmptyObj(dataIn.cell2G);
            let nb =  isEmptyObj(dataIn.cellNB);
            var wb = XLSX.utils.book_new();
                wb.Props = {
                            Title: "Export Masterplan",
                            Subject: "PRE TEST",
                            CreatedDate: new Date(2019,04 ,06)
                    };
                wb.SheetNames.push("SITE");
                wb.SheetNames.push("BBU");
                wb.SheetNames.push("CELL LTE");
                wb.SheetNames.push("CELL UMTS");
                wb.SheetNames.push("CELL GSM");
                wb.SheetNames.push("CELL NB");
                wb.Sheets["SITE"] = XLSX.utils.json_to_sheet(site);
                wb.Sheets["BBU"] = XLSX.utils.json_to_sheet(bbu);
                wb.Sheets["CELL LTE"] = XLSX.utils.json_to_sheet(lte);
                wb.Sheets["CELL UMTS"] = XLSX.utils.json_to_sheet(umts);
                wb.Sheets["CELL GSM"] = XLSX.utils.json_to_sheet(gsm);
                wb.Sheets["CELL NB"] = XLSX.utils.json_to_sheet(nb);

                var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

                function s2ab(s) {
                            var buf = new ArrayBuffer(s.length);
                            var view = new Uint8Array(buf);
                            for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                            return buf;
                }
                saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'ExportSearch.xlsx');
       }
    </script>
</div>
</body>
</html>

